<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847416864961-nru6bh3uoavn8ea82cbm20aboed5m46p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847416864961-nru6bh3uoavn8ea82cbm20aboed5m46p</string>
	<key>API_KEY</key>
	<string>AIzaSyAC0YdD9Gp2DzRcgn_PAHNGPE2jCsJUg3A</string>
	<key>GCM_SENDER_ID</key>
	<string>847416864961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dobry.breathewithme</string>
	<key>PROJECT_ID</key>
	<string>bwithmedev</string>
	<key>STORAGE_BUCKET</key>
	<string>bwithmedev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847416864961:ios:a631b5228db0cf4fcb6440</string>
</dict>
</plist>